---
build-sphinx-builder-image:
  stage: build
  image:
    name: docker.nix-community.org/nixpkgs/nix-flakes:latest@sha256:95bce4317c15dfab3babac5a6d19d3ed41e31a02a8aaf3d4f6639778cb763b0a
  before_script:
    - nix profile install .#skopeo
    # Skopeo needs the container policy to be available
    - mkdir /etc/containers
    - ln -s ~/.nix-profile/etc/containers/default-policy.json /etc/containers/policy.json
  script:
    - IMAGE_TAG=${CI_COMMIT_TAG-latest}
    - nix build .#container-image
    - skopeo login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - skopeo copy docker-archive:./result docker://${CI_REGISTRY_IMAGE}/sphinx-builder:${IMAGE_TAG}
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
